<div class="container">
  <div class="m-4">
    <p>
      Notre offre de formations est étudiée pour répondre aux besoins les plus variés : des grands standards aux technologies les plus pointues, des séminaires état de l’art aux cursus métier organisés sur plusieurs semaines, nous vous proposons près de 1 150 programmes dédiés à l’acquisition rapide de nouveaux savoirs.
    </p>
    <h6 class="text-uppercase fw-bold text-center">
      Notre catalogue de formation pour l'infrastructures et la cybersécurité
    </h6>

    <div id="3" class="product text-center col-12 col-lg-4">

      <h5 class="p-price fw-bold">Prix : 119.00 €</h5>
      <button class="buy-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Découvrez la formation</button>
      <button class="get-btn">Toutes les sessions</button>
  </div>

</div>
