<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./formations.component.scss" rel="stylesheet/scss" />
    <title>Formations</title>
  </head>
  <body>
    <!-- Barre de recherche -->

    <div class="container bg-light border mt-4">
      <div class="m-4">
        <div class="container">
          <div
            class="row height d-flex justify-content-center align-items-center"
          >
            <div class="col-md-8">
              <h6 class="text-uppercase fw-bold text-center">
                Trouver une formation à distance ou en présentiel
              </h6>
              <div class="search">
                <i class="fa fa-search"></i>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Thème, référence, mot clé..."
                />
                <button class="btn btn-primary">Recherche</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Fin de barre de recherche -->

    <!-- Les cards -->

    <div class="m-4">
      <h6 class="text-uppercase fw-bold text-center">
        ​​​​​​​Des formations 100% inclusives
      </h6>

      <div class="container h-100">
        <div class="row align-middle">
          <div class="col-md-6 col-lg-4 column">
            <div class="card gr-1">
              <div class="txt">
                <h1>
                  Infrastructures ​​​​​​​et <br />
                  Cybersécurité
                </h1>
                <p>
                  La cybersécurité est un enjeu stratégique pour toute
                  entreprise en transition numérique.
                </p>
              </div>
              <a routerLink="/infrastructuresSybersecurite">Plus</a>
              <div class="ico-card">
                <i class="fa fa-rebel"></i>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 column">
            <div class="card gr-2">
              <div class="txt">
                <h1>
                  Développement<br />
                  d'Application
                </h1>
                <p>
                  Le métier de développeur-se web vous intéresse ? Vous voulez
                  élargir vos compétences ?
                </p>
              </div>
              <a href="#">Plus</a>
              <div class="ico-card">
                <i class="fa fa-codepen"></i>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 column">
            <div class="card gr-3">
              <div class="txt">
                <h1>
                  Intelligence Artificielle<br />
                  ​​​​​​​et Data
                </h1>
                <p>
                  IT, marketing, services clients... ​​​​​​​Les besoins en
                  compétences Data et IA se multiplient.
                </p>
              </div>
              <a href="#">Plus</a>
              <div class="ico-card">
                <i class="fa fa-empire"></i>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 column">
            <div class="card gr-4">
              <div class="txt">
                <h1>Fondamentaux ​​​​​​​<br />Numériques</h1>
                <p>Le numérique change notre quotidien de plus en plus vite. Vous souhaitez vous former ?</p>
              </div>
              <a href="#">Plus</a>
              <div class="ico-card">
                <i class="fa fa-tencent-weibo"></i>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 column">
            <div class="card gr-5">
              <div class="txt">
                <h1>
                  Méthodes<br />
                  ​​​​​​​Agiles
                </h1>
                <p>
                  La formation Méthodes Agiles permet de gérer des projets
                  rigoureusement tout en ajustant.
                </p>
              </div>
              <a href="#">Plus</a>
              <div class="ico-card">
                <i class="fa fa-yelp"></i>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 column">
            <div class="card gr-6">
              <div class="txt">
                <h1>
                  ​​​​​​​Cloud ​​​​​​​et<br />
                  Devops
                </h1>
                <p>
                  ​​​​​​​Le métier de Devops est de plus en plus indispensable
                  dans le monde du numérique.
                </p>
              </div>
              <a href="#">Plus</a>
              <div class="ico-card">
                <i class="fa fa-stack-overflow"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Fin des cards -->


  </body>
</html>
