<div class="container bg-light border">
  <div class="m-4">

<!--Section: Contact v.2-->
<section class="mb-4">

  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Contactez-nous</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Avez-vous des questions? N'hésitez pas à nous contacter directement. Notre équipe reviendra vers vous dans les heures qui suivent pour vous aider.</p>

  <div class="row">

      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">

          <form id="contact-form" name="contact-form" [formGroup]="formContactPublic">

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                          <label for="name" class="">Votre nom </label>
                            <input [class.is-invalid]="nomFirst?.invalid && nomFirst?.touched" [class.is-valid]="nomFirst?.valid" type="email" class="form-control" type="text" id="name" name="name" class="form-control" formControlName="nom">

                            <div *ngIf="nomFirst?.touched && nomFirst?.invalid">
                              <small class="text-danger" *ngIf="nomFirst?.errors">
                                Le nom est requis !
                              </small>
                            </div>
                            <div *ngIf="nomFirst?.touched && nomFirst?.valid">
                              <small class="text-info">
                                Le nom est semble correct !
                              </small>
                            </div>

                      </div>
                  </div>
                  <!--Grid column-->



                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                          <label for="email" class="">E-mail</label>
                          <input [class.is-invalid] = "formContactPublic.get('email')?.invalid && formContactPublic.get('email')?.touched"
                          [class.is-valid] = "formContactPublic.get('email')?.valid && formContactPublic.get('email')?.touched"
                          type="text" id="email" name="email" class="form-control" formControlName="email">

                          <div *ngIf="emailFirst?.touched && emailFirst?.invalid">
                            <small class="text-danger" *ngIf="emailFirst?.errors">
                              Veuillez saisir un email correct !
                            </small>
                          </div>
                          <div *ngIf="emailFirst?.touched && emailFirst?.valid">
                            <small class="text-info">
                              L'email est semble correct !
                            </small>
                          </div>

                      </div>
                  </div>
                  <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">
                  <div class="col-md-12">
                      <div class="md-form mb-0">
                          <label for="subject" class="">Sujet</label>
                          <input [class.is-invalid] = "formContactPublic.get('sujet')?.invalid && formContactPublic.get('sujet')?.touched" [class.is-valid]="formContactPublic.get('sujet')?.valid && formContactPublic.get('sujet')?.touched" type="text" id="subject" name="subject" class="form-control" formControlName="sujet">

                          <div *ngIf="sujetFirst?.touched && sujetFirst?.invalid">
                            <small class="text-danger" *ngIf="sujetFirst?.errors">
                              Le sujet est requis !
                            </small>
                          </div>
                          <div *ngIf="sujetFirst?.touched && sujetFirst?.valid">
                            <small class="text-info">
                              Le sujet est semble correct !
                            </small>
                          </div>

                      </div>
                  </div>
              </div>
              <!--Grid row-->




              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-12">

                      <div class="md-form">
                          <label for="message">Votre  message</label>
                          <textarea [class.is-invalid] = "formContactPublic.get('message')?.invalid && formContactPublic.get('message')?.touched" [class.is-valid]="formContactPublic.get('message')?.valid && formContactPublic.get('message')?.touched" type="text" id="message" name="message" rows="2" class="form-control md-textarea" formControlName="message"></textarea>

                          <div *ngIf="messageFirst?.touched && messageFirst?.invalid">
                            <small class="text-danger" *ngIf="sujetFirst?.errors">
                              Veuillez saisir votre message !
                            </small>
                          </div>
                          <div *ngIf="messageFirst?.touched && messageFirst?.valid">
                            <small class="text-info">
                              Le message est semble correct !
                            </small>
                          </div>

                      </div>

                  </div>
              </div>
              <!--Grid row-->

          </form>
          <br />
          <div class="text-center text-md-left">
              <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Envoyer</a>&nbsp;
              <a class="btn btn-primary">Annuler !</a>
          </div>
          <div class="status"></div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3 text-center">
          <ul class="list-unstyled mb-0">
              <li><i class="fa fa-map-marker fa-2x"></i>
                  <p>La défense, IDF 92060, France</p>
              </li>

              <li><i class="fa fa-phone mt-4 fa-2x"></i>
                  <p>+ 01 234 567 89</p>
              </li>

              <li><i class="fa fa-envelope mt-4 fa-2x"></i>
                  <p>contact@it-training.com</p>
              </li>
          </ul>
      </div>
      <!--Grid column-->

  </div>

</section>
<!--Section: Contact v.2-->
</div>
</div>
