
<div class="container">

  <div class="m-4">
    <h6 class="text-uppercase fw-bold">
      <p>Infos pratiques</p>
    </h6>
    <hr />
    <div class="card-group">

      <div class="card card-primary text-center">
        <img class="card-img-top" src="https://static3.avast.com/10001215/web/i/index2/for-home.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="badge badge-primary badge-sm text-uppercase">Nos agences</div>
          <div class="card-title">It-Training est présent dans plusieurs villes</div>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-outline-secondary btn-icon-right">
            <span class="text-uppercase">plus d'infos
              <img src="https://static3.avast.com/1/web/i/v2/components/arrow-m-right-orange.png" height="24">
            </span>
          </a>
        </div>
      </div>

      <div class="card card-primary text-center">
        <img class="card-img-top" src="https://static3.avast.com/10001215/web/i/index2/for-partners.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="badge badge-primary badge-sm text-uppercase">Préparer sa formation</div>
          <div class="card-title">L'aide à l'orientation et évaluation des prérequis</div>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-outline-secondary btn-icon-right">
            <span>PLUS D'INFOS
              <img src="https://static3.avast.com/1/web/i/v2/components/arrow-m-right-orange.png" height="24">
            </span>
          </a>
        </div>
      </div>

      <div class="card card-primary text-center">
        <img class="card-img-top" src="https://static3.avast.com/10001215/web/i/index2/for-business.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="badge badge-primary badge-sm text-uppercase">Documentations</div>
          <div class="card-title">Fiches pratiques d'agence</div>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-outline-secondary btn-icon-right">
            <span>PLUS D'INFOS
              <img src="https://static3.avast.com/1/web/i/v2/components/arrow-m-right-orange.png" height="24">
            </span>
          </a>
        </div>
      </div>


    </div>
    <div class="card-group">
      <div class="card card-primary text-center">
        <img class="card-img-top" src="https://static3.avast.com/10001215/web/i/index2/for-business.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="badge badge-primary badge-sm text-uppercase">FAQ</div>
          <div class="card-title">Organisation de votre formation, financement des formations </div>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-outline-secondary btn-icon-right">
            <span>PLUS D'INFOS
              <img src="https://static3.avast.com/1/web/i/v2/components/arrow-m-right-orange.png" height="24">
            </span>
          </a>
        </div>
      </div>

      <div class="card card-primary text-center">
        <img class="card-img-top" src="https://static3.avast.com/10001215/web/i/index2/for-home.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="badge badge-primary badge-sm text-uppercase">Espace client</div>
          <div class="card-title">Un nouveau service digital pour mieux vous accompagner</div>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-outline-secondary btn-icon-right">
            <span>PLUS D'INOFS
              <img src="https://static3.avast.com/1/web/i/v2/components/arrow-m-right-orange.png" height="24">
            </span>
          </a>
        </div>
      </div>
    </div>

      </div>
    </div>

