#sidemenu {
  margin-top: 5%;
  list-style: none;
  padding: 0px;
  background: none;
  color: #CFD8DC;
  font-size: 14px;
}

#sidemenu ul{
  list-style: none;
  padding-left: 8px;
  color: #555 !important;

}

a {
  text-decoration: none;
}
.navSide{
  padding-left: 20%;

}

