 <nav>
  <ul id="sidemenu">
    <li>
      <a [routerLink]="['dashboard']">Dashboard</a>
    </li>
    <li>
      <h3> > User</h3>
    </li>
      <ul>
        <li><a [routerLink]="['user']">Liste</a></li>
        <li><a [routerLink]="['user/add']">Ajouter</a></li>
      </ul>
    <li>
      <h3> > Formations</h3>
    </li>
      <ul>
        <li><a [routerLink]="['formation']">Liste</a></li>
        <li><a [routerLink]="['formation/add']">Ajouter</a></li>

      </ul>
      <li>
        <h3> > Enseignant</h3>
      </li>
        <ul>
          <li><a [routerLink]="['enseignant']">Liste</a></li>
          <li><a [routerLink]="['enseignant/add']">Ajouter</a></li>

        </ul>
        <li>
          <h3> > Stagiaire</h3>
        </li>
          <ul>
            <li><a [routerLink]="['stagiaire']">Liste</a></li>
            <li><a [routerLink]="['stagiaire/add']">Ajouter</a></li>
          </ul>

          <li>
            <h3> > Session</h3>
          </li>
            <ul>
              <li><a [routerLink]="['session']">Liste</a></li>
              <li><a [routerLink]="['session/add']">Ajouter</a></li>
            </ul>
            <li>
              <h3> > Theme</h3>
            </li>
              <ul>
                <li><a [routerLink]="['theme']">Liste</a></li>
                <li><a [routerLink]="['theme/add']">Ajouter</a></li>
              </ul>
  </ul>
</nav>
