#sidemenu {
  margin-top: 5%;
  list-style: none;
  padding: 0px;
  background: none;
  color: #CFD8DC;
  font-size: 14px;

  -moz-box-shadow:    -3px 0 5px 0 #555;
  -webkit-box-shadow: -3px 0 5px 0 #555;
  box-shadow:         -3px 0 5px 0 #555;

}

#sidemenu ul{
  list-style: none;
  padding-left: 8px;
  color: #555 !important;

}

a {
  text-decoration: none;
}
*{
  background-color: #FEE5E7;
}
