<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <title>It-Training</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
      <!-- Brand -->
      <a class="navbar-brand" href="#">Formation</a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/formations">Accueil</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbardrop"
            data-toggle="dropdown"
          >
            Les formations
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="add-formation">Ajouter !</a>
            <a class="dropdown-item" routerLink="lister-formation">Lister !</a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbardrop"
            data-toggle="dropdown"
          >
            [username]
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">login</a>
            <a class="dropdown-item" href="#">logout</a>
            <a class="dropdown-item" href="#">Profile</a>
          </div>
        </li>
      </ul>
    </nav>
  </body>
</html>
<router-outlet></router-outlet>
