<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>À Propos</title>
  </head>
  <body>
    <div class="container bg-light border">
      <div class="m-4">
        <p><a routerLink="/formations">Accueil</a></p>
        <h1>Qui sommes-nous !</h1>
        <p>
          Entreprise sociale et solidaire, <strong>it-training</strong> utilise
          le numérique comme levier d'inclusion en révélant des talents
          différents et accompagne la transformation numérique des
          organisations.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="m-4">
        <strong>Aller à </strong>
        <ul>
          <li>Notre <strong>histoire</strong></li>
          <li>Nos <strong>engagements</strong></li>
          <li>It-training en <strong>mots</strong></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="m-4">
      <img src={{path}} alt={{alttext}} width="100%"/>
      </div>
    </div>

    <div class="container bg-light border">
      <div class="m-4">
        <p class="text-center text-uppercase font-weight-light">It Training</p>
        <h1>Notre histoire !</h1>
        <p>
          Dès sa création à Paris, en 1985, it-training s'est positionnée sur le marché de la formation informatique en proposant une offre de formations informatiques à forte valeur ajoutée. En 1999, it-training devient filiale du Groupe it, leader européen du management par les compétences. Les synergies qui en découleront permettront notamment à it de renforcer son savoir-faire pédagogique et ses capacités d'innovation.
        </p>
      </div>
    </div>

  </body>
</html>
