<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>User</title>
</head>
<body>

  <div class="container">
    <div class="container bg-light border">
      <div class="m-4">
          <div class="panel">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col col-sm-5 col-xs-12">
                          <h4 class="title">Table Formations</h4>
                      </div>
                      <div class="col-sm-7 col-xs-12 text-right">
                          <span class="btn btn-primary btn-sm"><i class="fa fa-user"></i> FORMATIONS</span>
                      </div>
                  </div>
              </div>
              <div class="panel-body table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>Nom</th>
                              <th>Réf</th>
                              <th>Public</th>
                              <th>Objectifs</th>
                              <th>Details</th>
                              <th>Chapters</th>
                              <th>Durée</th>
                              <th>Prix</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>

                          <tr *ngFor="let formation of formationList">
                              <td>
                                {{ formation.idFormation }}
                              </td>
                              <td>
                                {{ formation.nomFormation }}
                              </td>
                              <td>
                                {{ formation.referenceFormation }}
                              </td>
                              <td>
                                {{ formation.publicFormation}}
                              </td>
                              <td>
                                {{ formation.objectifsFormation }}
                              </td>
                              <td>
                                {{ formation.detailsFormation }}
                              </td>
                              <td>
                                {{ formation.chaptersFormation }}
                              </td>
                              <td>
                                {{ formation.dureeFormation }} J
                              </td>
                              <td>
                                {{ formation.priceFormation }} €
                              </td>
                              <td>
                                  <ul class="action-list">
                                      <li><a class="btn" (click)="deleteFormation(formation)"><em class="fa fa-trash"></em></a></li>
                                      <li><a class="btn" data-toggle="modal" data-target="#exampleModal"><em class="fa fa-edit"></em></a></li>

                                    </ul>
                              </td>
                          </tr>

                      </tbody>
                  </table>
              </div>

          </div>
      </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier Formation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form  #registerForm="ngForm" (ngSubmit)="register(registerForm)">
          <div class="form-group">
            <label for="nomFormation">Nom<span style="color:red"> *</span> </label>
            <input
            type="text"
              class="form-control"
              id="nomFormation"
              name="nomFormation"
              #nomFormation
              [(ngModel)]="nomFormation"
              />
          </div>

          <div class="form-group">
            <label for="referenceFormation">Référence<span style="color:red"> *</span> </label>
            <input
              type="text"
              class="form-control"
              id="referenceFormation"
              name="referenceFormation"
              #referenceFormation
              [(ngModel)]="referenceFormation"
              />
            </div>


          <div class="form-group">
            <label for="publicFormation">Public<span style="color:red"> *</span></label>
            <input


            type="text"
            [(ngModel)]="publicFormation"
              class="form-control"
              id="publicFormation"
              name="publicFormation"
            #publicFormation

            />

          </div>

          <div class="form-group">
            <label>objectifs <span style="color:red">*</span></label>
            <input

              type="text"
              class="form-control"
              id="objectifsFormation"
              name="objectifsFormation"
              #objectifsFormation
              [(ngModel)]="objectifsFormation"
            />


          </div>


          <div class="form-group">
            <label>Détails <span style="color:red">*</span></label>
            <input

              type="text"
              class="form-control"
              id="detailsFormation"
              name="detailsFormation"
              #detailsFormation
              [(ngModel)]="detailsFormation"

            />


          </div>



          <div class="form-group">
            <label>Chapters <span style="color:red">*</span></label>
            <input

              type="text"
              class="form-control"
              id="chaptersFormation"
              name="chaptersFormation"
              #chaptersFormation
              [(ngModel)]="chaptersFormation"

            />
          </div>

          <div class="form-group">
            <label>Prix <span style="color:red">*</span></label>
            <input

              type="text"
              class="form-control"
              id="priceFormation"
              name="priceFormation"
              #priceFormation
              [(ngModel)]="priceFormation"

            />
            <div *ngIf="formCreateFormation.get('priceFormation')?.touched && formCreateFormation.get('priceFormation')?.invalid">
              <small class="text-danger" *ngIf="formCreateFormation.get('priceFormation')?.errors">
                Ce champs est obligatoire !
              </small>
            </div>

          </div>


          <div class="form-group">
            <label>Durée <span style="color:red">*</span></label>
            <input
            [class.is-invalid] = "formCreateFormation.get('dureeFormation')?.invalid && formCreateFormation.get('dureeFormation')?.touched"
            [class.is-valid] = "formCreateFormation.get('dureeFormation')?.valid && formCreateFormation.get('dureeFormation')?.touched"

              type="text"
              class="form-control"
              id="dureeFormation"
              name="dureeFormation"
              #dureeFormation
              [(ngModel)]="dureeFormation"

            />
            <div *ngIf="formCreateFormation.get('dureeFormation')?.touched && formCreateFormation.get('dureeFormation')?.invalid">
              <small class="text-danger" *ngIf="formCreateFormation.get('dureeFormation')?.errors">
                Ce champs est obligatoire !
              </small>
            </div>

          </div>




          &nbsp;&nbsp;

          <span class="text-danger" #mySpanFormation></span>

          &nbsp;&nbsp;
          <div>
            <span class="text-info" #myValidationEnregistrementFormation></span>
          </div>

        </form>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" value="update" class="btn btn-primary">Sauvegarder les modifications</button>
      </div>
    </div>
  </div>
</div>



</body>
</html>
