<div class="container bg-light border">
  <div class="m-4">
    <h6 class="text-uppercase fw-bold">
      <p>Certifications</p>
    </h6>
    <hr />
    <h6 class="text-info fw-bold">
      Pourquoi se certifier
    </h6>
    <p>
      La certification vous permet d’évaluer vos compétences et de vérifier votre maîtrise d’un produit ou d’une technologie.
    </p>
    <p>
      Reconnues par l’ensemble du marché informatique, les certifications éditeurs permettent aux informaticiens de démontrer leur expertise et aux entreprises d’identifier rapidement les compétences recherchées. Les certifications apportent également aux entreprises prestataires de services informatiques une crédibilité accrue auprès de leurs clients qui sauront identifier immédiatement leur savoir faire.
    </p>
    <p>
      Choisissez les éditeurs et certifications qui vous intéressent et découvrez les examens nécessaires à leur obtention ainsi que les formations que nous proposons pour vous préparer aux tests.
    </p>
    <h6 class="text-info fw-bold">
      Centres de tests it-training
    </h6>
    <p>
      Nos centres de formation agréés Pearson Vue disposent de salles dédiées à des sessions de tests menant aux certifications éditeurs : Microsoft, Citrix, VMware, Cisco, IBM Lotus, Check Point, Symantec…
    </p>
    <h6 class="text-success fw-bold">
      Comment se passe un test ?
    </h6>
    <p>
      Les examens, généralement constitués de questionnaires à choix multiples, se passent en ligne dans des salles équipées de dispositifs de surveillance respectant le cahier de charge Pearson Vue. Lors du passage des tests, toute communication entre candidats et tout recours à une quelconque documentation sont strictement interdits.
    </p>
    <a href ="mailto:contact@it-training.com" style="text-decoration:none;">
      <button class="btn btn-1 btn-sep icon-info">
        Obtenir une certification
      </button>
    </a>
  </div>
</div>
