<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>User</title>
</head>
<body>

  <div class="container">
    <div class="container bg-light border">
      <div class="m-4">
          <div class="panel">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col col-sm-5 col-xs-12">
                          <h4 class="title">Table User</h4>
                      </div>
                      <div class="col-sm-7 col-xs-12 text-right">
                          <span class="btn btn-primary btn-sm"><i class="fa fa-user"></i> USER</span>
                      </div>
                  </div>
              </div>
              <div class="panel-body table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>Nom</th>
                              <th>Prénom</th>
                              <th>Email</th>
                              <th>Password</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>

                          <tr *ngFor="let user of userList">
                              <td>
                                {{ user.idUser }}
                              </td>
                              <td>
                                {{ user.nomUser }}
                              </td>
                              <td>
                                {{ user.prenomUser }}
                              </td>
                              <td>
                                {{ user.email}}
                              </td>
                              <td>
                                {{ user.password }}
                              </td>
                              <td>
                                  <ul class="action-list">
                                      <li><a href="#" class="btn"><em class="fa fa-trash"></em></a></li>
                                      <li><a [routerLink]="['edit', user.idUser]" class="btn"><em class="fa fa-edit"></em></a></li>

                                      <!-- <li><a (click)="UEditComponent(userList.idUser) class="btn"><em class="fa fa-edit"></em></a></li> -->


                                    </ul>
                              </td>
                          </tr>

                      </tbody>
                  </table>
              </div>

          </div>
      </div>
  </div>
</div>

</body>
</html>
